h1 {
    color: orange;
    text-align: center;
}

.spacer {
    margin-top: 50px;
}

.block {
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.img-small {
    width: 15.5%;
}

.img-medium {
    width: 25%;
}

.form-center {
    text-align: center;
}