<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <title>QR File</title>
    </head>

    <body>
        {% include "block-construction-header.html" %}
        <div class="spacer">
            <img src="{{ qr }}" class="block center img-medium">
        </div>
        <div class="spacer">
            {% include "block-return-home.html" %}
        </div>
    </body>

</html>